.EditorRoot {
  height: 100%;
  overflow: hidden;
}

.Editor {
  font-size: 0.875rem;
  font-family: var(--font-mono);
  width: 100%;
  overflow: hidden;

  * {
    font-family: var(--font-mono);
  }

  :global {
    .cm-editor {
      height: 100%;
      min-height: 5rem;
      .cm-selectionBackground {
        background-color: rgba(var(--color-primary) / 0.5) !important;
      }
    }
    .cm-focused {
      outline: none;
    }
    .cm-gutters {
      background-color: var(--background-color);
      color: var(--foreground-color);
      border-color: var(--border-color);
    }
    .cm-activeLine {
      background-color: rgba(var(--color-muted) / 0.5);
    }
    .cm-activeLineGutter {
      background-color: var(--muted-color);
    }
    .cm-cursor {
      border-left-color: var(--foreground-color);
    }

    .Í¼2 .cm-gutters.cm-gutters-before {
      border-right: none;
    }
  }
}

.EditorErrorIcon {
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
}

.EditorToolbar {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  --border-radius: 0;

  :global {
    .SelectRoot {
      border: none;
      border-right: 1px solid var(--border-color);
      &:focus-visible {
        box-shadow: none;
      }
    }
  }
}

.EditorToolbarTooltip {
  z-index: 999;
}

.EditorErrorTooltip {
  z-index: 999;
}
