.KeysTreeNode {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem 0.5rem;
  cursor: pointer;
  user-select: none;
  color: var(--foreground-color);
  background-color: var(--background-color);
  transition: all 0.1s ease-in;
  cursor: pointer;
  font-size: 0.875rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  &:hover {
    background-color: var(--muted-color);

    .KeysTreeNodeActions {
      opacity: 1;
      pointer-events: unset;
    }
  }

  &[data-open='true'] {
    .KeysTreeNodeIcon {
      &[data-type='arrow'] {
        transform: rotate(90deg);
      }
    }
  }
}

.KeysTreeNodeIcon {
  width: 1rem;
  height: 1rem;
  transition: all 0.1s ease-in;
  flex-shrink: 0;
}

.KeysTreeNodeActions {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  position: absolute;
  top: 50%;
  right: var(--spacing-md);
  transform: translateY(-50%);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: all 0.1s ease-in;
  :global(Button) {
    --size: 1.5rem;
  }
}
